<!doctype html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>precisioneffect</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>

		<script src="js/vendor/angular.js"></script>
		<script src="js/vendor/angular-route.js"></script>
		<script src="js/vendor/angular-touch.js"></script>
		<script src="js/vendor/angular-animate.js"></script>
		<script src="js/app.js"></script>
		<script src="js/routes.js"></script>
		<script src="js/UiController.js"></script>
		<script src="js/directives.js"></script>

		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body class="container-fluid"
		  ng-controller="UiController as vm"
		  ng-swipe-right="vm.left();"
		  ng-swipe-left="vm.right();"
		  oncontextmenu="return false">
		<ng-view autoscroll="true" class="slide" ng-class="{'reverse': !vm.rtl}"></ng-view>
		<nav class="fade" ng-show="vm.show.nav">
			<ul>
				<li ng-repeat="project in vm.slides.all">
					<a href ng-click="vm.jump($index);">
						<div class="icons" ng-class="{'active': vm.slides.all[vm.slides.current] === vm.slides.all[$index]}"></div>
					</a>
				</li>
			</ul>
		</nav>
		<div ng-click="vm.help();" class="help fade" ng-show="vm.show.help">
			<img class="help" src="img/help.svg" alt="A help icon.">
		</div>
		<div ng-click="vm.show.nav = !vm.show.nav" class="nav"></div>
		<div ng-click="vm.toggleScreensaver();" class="screensaver"></div>
		<div ng-click="vm.toggleSound();" class="sound"></div>
	</body>
</html>
