<section>

	<img ng-show="project.precisioneffect.image" src="/projects/precisioneffect/project.jpg">

	<iframe ng-if="!project.precisioneffect.image" width="1920" height="1080" src="http://precisioneffect.com/"></iframe>

	<div class="content" ng-show="project.precisioneffect.image" ng-click="project.precisioneffect.cta();">
		<h1>MEET <img class="precisioneffect-logo" src="img/logo.png" alt="precisioneffect logo"></h1>
		<h2>and explore our work</h2>
		<img class="arrow" src="img/arrow.png">
	</div>

</section>
